

nav.navbar.navbar-default.navbar-fixed-top
  .container
    img(src='/img/pop_text_50.png')
    a.home-holder(href='/')
      img.logoo(src='/img/pop_spark_50.png')
    p.question-nav     Do you think that Scrubs is one of the best TV series ever made?
    ul.nav.navbar-nav.navbar-right
      li
        a(href='/Login') Login
      li
        a(href="http://twitter.com/share?text=Do%20you%20think") Tweet

